service:
{{- if eq "NodePort" .Values.jxRequirements.ingress.serviceType }}
  type: NodePort
{{- else }}
  port: 80

ingress:
  enabled: true
  hosts:
  - docker-registry{{ .Values.jxRequirements.ingress.namespaceSubDomain }}{{ .Values.jxRequirements.ingress.domain }}
{{- end }}
