cert-manager:
  enabled: {{ .Values.jxRequirements.ingress.tls.enabled }}
{{- if eq .Values.jxRequirements.cluster.provider "eks" }}
extraArgs:
  - --issuer-ambient-credentials
securityContext:
  enabled: true
  fsGroup: 1001
{{- end }}

webhook:
  enabled: false
